<html>
<head>
    <title> ToDo App </title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Lato">
    <style>
        body {
            font-family: 'Lato';
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Welcome to Autogame!!!,</h1>
    <form action ="/commands" method="POST">
        <h2>Please fill your name to start the play :)</h2>
        <input type="text" name="newplayer" placeholder="fill your name :)">
        <button>Go to the commands!</button>
    </form>
</div>
</body>
</html>