<html>
<head>
    <title> AutoGame </title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Lato">
    <style>
        body {
            font-family: 'Lato';
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Score board</h1>
    <p>We are working on this...</p>
</div>
</body>
</html>