<html>
<head>
    <title> AutoGame </title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Lato">
    <style>
        body {
            font-family: 'Lato';
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>KINGS OF AUTOGAME</h1>
    <% for( var i = 0; i < scores.length; i++){ %>
        <li><%= scores[i].player %> - <%= scores[i].finalScore %> = <%= scores[i].actualScoreInTheGame %> - <%= scores[i].fails %> % </li>
    <% } %>
    <form action ="/" method="GET">
        <button>Go to Registry :)</button>
    </form>
</div>
</body>
</html>