<html>
<head>
    <title> AutoGame </title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Lato">
    <style>
        body {
            font-family: 'Lato';
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="container">
    <h2> All your commands are being executed <%= newPlayer %>!</h2>
    <p> Right now you can see on the <strong>other window</strong> how Selenium executes all the commands you entered,
        you can follow the tasks logs on the console.</p>
    <% for( var i = 0; i < commands.length; i++){ %>
        <li><%= commands[i] %></li>
    <% } %>
    <form action ="/scoreboard" method="GET">
        <h2>When the execution finishes, you can see your score</h2>
        <button>Go to the results</button>
    </form>
</div>
</body>
</html>